name: Get user Project v2 ID

on:
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  get-project-id:
    runs-on: ubuntu-latest
    steps:
      - name: Get Project ID
        id: get_project_id
        uses: monry/actions-get-project-id@v2
        with:
          github-token: ${{ secrets.PROJECT_PAT }}
          project-owner: damianos-pappas
          project-number: 1

      - name: Show Project ID
        run: |
          echo "PROJECT_ID = ${{ steps.get_project_id.outputs.project-id }}"
          echo "ERROR (if any) = ${{ steps.get_project_id.outputs.error }}"